AreaYPerimetro/Service References/area1/Areas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AreaTriangulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="base1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreaTrianguloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AreaTrianguloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreaCuadrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lado1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lado2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreaCuadradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AreaCuadradoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreaCirculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radio1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreaCirculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AreaCirculoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AreaTrianguloSoapIn">
    <wsdl:part name="parameters" element="tns:AreaTriangulo" />
  </wsdl:message>
  <wsdl:message name="AreaTrianguloSoapOut">
    <wsdl:part name="parameters" element="tns:AreaTrianguloResponse" />
  </wsdl:message>
  <wsdl:message name="AreaCuadradoSoapIn">
    <wsdl:part name="parameters" element="tns:AreaCuadrado" />
  </wsdl:message>
  <wsdl:message name="AreaCuadradoSoapOut">
    <wsdl:part name="parameters" element="tns:AreaCuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="AreaCirculoSoapIn">
    <wsdl:part name="parameters" element="tns:AreaCirculo" />
  </wsdl:message>
  <wsdl:message name="AreaCirculoSoapOut">
    <wsdl:part name="parameters" element="tns:AreaCirculoResponse" />
  </wsdl:message>
  <wsdl:portType name="AreasPerimetrosSoap">
    <wsdl:operation name="AreaTriangulo">
      <wsdl:input message="tns:AreaTrianguloSoapIn" />
      <wsdl:output message="tns:AreaTrianguloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AreaCuadrado">
      <wsdl:input message="tns:AreaCuadradoSoapIn" />
      <wsdl:output message="tns:AreaCuadradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AreaCirculo">
      <wsdl:input message="tns:AreaCirculoSoapIn" />
      <wsdl:output message="tns:AreaCirculoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AreasPerimetrosSoap" type="tns:AreasPerimetrosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AreaTriangulo">
      <soap:operation soapAction="http://tempuri.org/AreaTriangulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCuadrado">
      <soap:operation soapAction="http://tempuri.org/AreaCuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCirculo">
      <soap:operation soapAction="http://tempuri.org/AreaCirculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreasPerimetrosSoap12" type="tns:AreasPerimetrosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AreaTriangulo">
      <soap12:operation soapAction="http://tempuri.org/AreaTriangulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCuadrado">
      <soap12:operation soapAction="http://tempuri.org/AreaCuadrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCirculo">
      <soap12:operation soapAction="http://tempuri.org/AreaCirculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AreasPerimetros">
    <wsdl:port name="AreasPerimetrosSoap" binding="tns:AreasPerimetrosSoap">
      <soap:address location="http://localhost:5587/Areas.asmx" />
    </wsdl:port>
    <wsdl:port name="AreasPerimetrosSoap12" binding="tns:AreasPerimetrosSoap12">
      <soap12:address location="http://localhost:5587/Areas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>